

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
  --ionicon-stroke-width: 40px;
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container-product { padding-inline: 15px; }

.img-cover {
  width: 40rem;
  height: 100%;
  object-fit: cover;
  float: left;
  margin-left: 70rem;
}



/*-----------------------------------*\
  #MAIN CONTENT
\*-----------------------------------*/

.product-slides {
  position: relative;
  margin-inline: -15px;
  overflow: hidden;
}

.product-content {
  padding-block: 24px 50px;
  padding-inline: 8px;
}

.product-content .product-subtitle {
  color: hsl(0, 100%, 70%);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-content .product-title {
  color: hsl(0, 0%, 13%);
  font-size: 2.8rem;
  line-height: 1.1;
  margin-block: 12px 18px;
}

.product-content .product-text {
  font-size: 1.5rem;
  line-height: 1.7;
}

.product-content .product-detail-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-block: 15px 25px;
}

.product-content .price {
  color: hsl(0, 0%, 13%);
  font-size: 1.5rem;
  font-weight: 700;
}

.product-content .badge {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 100%, 100%);
  font-weight: 700;
  padding: 4px 10px;
  border-radius: 6px;
}

.product-content .del {
  color: hsl(0, 0%, 93%);
  font-weight: 500;
}
.phone-model-text {
  color: black;
  margin-top: 3rem;
  font-size: 1rem;
}
.product-detail-wrapper {
  height: 100%;
  display: grid;
}
label {
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-weight: bold;
  font-size: 1.2em;
}

select {
  padding: 1rem;
  border-radius: .2em;
  border: 1px solid #acacac;
  color: #181820;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  background: url('https://cdn1.iconfinder.com/data/icons/arrows-vol-1-4/24/dropdown_arrow-512.png');
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: right;
  background-origin: content-box;
}
.showcase-rating {
color: var(--sandy-brown);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.counter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 93%);
  border-radius: 10px;
  margin-block-end: 15px;
}

.counter-btn {
  color: hsl(0, 100%, 70%);
  font-size: 18px;
  padding: 19px;
  transition: 0.25s ease;
}
.product-detail-text  {
  display: block;
  font-size: 1.6rem;
}

.counter-btn ion-icon { --ionicon-stroke-width: 80px; }

.counter-btn:is(:hover, :focus) { color: hsl(353, 100%, 78%); }

.counter-wrapper .span {
  color: hsl(0, 0%, 13%);
  font-weight: 700;
}

.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 70%;
  background-color: hsl(0, 100%, 70%);
  color: var(--white);
  font-weight: 500;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 10px 30px -10px hsl(0, 100%, 70%);;
  transition: 0.25s ease;
}

.add-to-cart-btn ion-icon { --ionicon-stroke-width: 50px; }

.add-to-cart-btn:is(:hover, :focus) { background-color: hsl(353, 100%, 78%); }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/* *
  *responsive for larger than 375px screen
 */
 @media (min-width: 375px) {
 .img-cover {
  width: 100%;
  margin-left: auto;
  padding-top: 2rem;
 }
 .product-detail-wrapper {
  width: auto;
 }
 .product-content {
  width: 100%;
  padding: 2rem;
 }
}


/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .container-product {
    max-width: 400px;
  }
  .img-cover {
    width: 90%;
    margin-left: 6rem;
  }
  .product-content {
    width: 100%;
    padding: 3rem;
  }


  
  /**
   * PRODUCT
   */

  .product { margin-block-start: 45px; }

  .product .container-product {
    display: grid;
    gap: 20px;
  }

  .product-slides { border-radius: 15px; }

  .product-banner { max-height: unset; }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

 


  /**
   * REUSED STYLE
   */

  .container-product { max-width: 950px; }


  /**
   * PRODUCT
   */

  .product { margin-block: 75px 200px; }

  .img-cover {max-width: 700px;}

  .product .container-product {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 90px;
  }

  .product-slides { margin-inline: 0; }

  .product-content { width: 100%;}

  .product-title { font-size: 4.5rem; }

  .btn-group {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    gap: 15px;
  }

  .counter-wrapper { margin-block-end: 0; }
}